
:root {
    --size-nav: 180px;
    --color-btn_nav: white;
    --color-texto-primary: #111213;
}

*{
    box-sizing: border-box;
    list-style: none;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background: #4599ff3d;
    margin: 0px;
}

.contenedor{
    display: flex;
}

@media (min-width: 768px) {
    header{
        z-index: 801;
        display: grid;
        grid-template-rows: 50px 1fr;
        height: 100vh;
        font-size: 13px;
        transition: 1s;
    }

    .nav-activ{
        position: relative;
        transform: translateX(0px);
        transition: 1s;
    }
    
    .nav-desac{
        position: relative;
        transform: translateX(-180px);
        transition: 1s;
    }

    .nav-ini{
        position: relative;
        transform: translateX(0px);
    }
}


@media (max-width: 768px) {
    header{
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 2px;
        z-index: 801;
        display: grid;
        grid-template-rows: 50px 1fr;
        height: 100vh;
        font-size: 13px;
        transition: 0.5s;
        transform: translateX(-180px);
    }

    .nav-activ{
        position: absolute;
        transform: translateX(0px);
    }
    
    .nav-desac{
        position: absolute;
        transform: translateX(-180px);
    }

    .nav-ini{
        position: absolute;
        transform: translateX(-180px);
    }
}

.btn-nav{
    position: absolute;
    z-index: 802;
    top: 4px;
    left: 2px;
    background: transparent;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.175rem 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    opacity: 0.7;
}


@media (min-width: 768px) {
    .btn-nav-activ{
        position: absolute;
        z-index: 5;
        top: 4px;
        left: 5px;
        background: transparent;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.175rem 0.25rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        opacity: 0.7;
    }
}
@media (max-width: 768px) {
    .btn-nav-activ{
        position: absolute;
        top: 4px;
        left: 5px;
        background: transparent;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.175rem 0.25rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        display: none;
    }
}

.img-nav{
    position: absolute;
    z-index: 5;
    top: 4px;
    right: 5px;
    width: 140px;
    height: 45px;
}


.input-filtro {
    display: block;
    width: 95%;
    height: 28px;
    margin: 4px 4px;
    padding: 1px 6px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-filtro:focus {
    border: 2px solid #007bff; /* Cambia el color del borde cuando el input está enfocado */
    outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
    box-shadow: 0 0 3px #007bff;
  }

.bs-4 {
    font-size: 1.5rem!important;
}

.header_navv {
    width: var(--size-nav);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    background-color: #0263ff;
    transition: 0.5s;
}

.navegacion{
    padding-top: 10px;
    /* padding-left: 5px; */
    background-color: white;
    width: var(--size-nav);
    overflow: auto;
    transition: 0.4s;
}

.nav-desac{
    position: absolute;
    left: -var(--size-nav);
}




/* opciones de navegacion */
.navegacion ul {
    padding: 0px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.navegacion ul li a,
.navegacion ul li span {
    display: grid;
    align-items: center;
    grid-template-columns: 30px auto;
    text-decoration: none;
    color: var(--color-texto-primary);
    cursor: pointer;
    white-space: nowrap;
    padding-left: 5px; 
}

.navegacion ul a,
.navegacion ul span {
    min-height: 35px;
    transition: 0.3s;
}

.navegacion ul span:hover {
    background-color: #0263ffb4;
    color: white;
}
.navegacion ul span span:hover {
    background-color: #ffffff00;
    color: white;
}
.navegacion ul li ul a:hover {
    background-color: #0263ffb4;
    color: white;
}

.navegacion ul li a:hover {
    background-color: #0263ffb4;
    color: white;
}

.navegacion ul li a span:hover {
    background-color: #ffffff00;
    color: white;
}

.texto{
    font-size: 13px;
}

.navegacion .texto svg {
    height: 15px;
    float: right;
    margin-right: 10px;
}

.more-navegacion {
    margin-left: 0px;
    border-left: solid 0px var(--color-texto-primary);
    max-height: 0px;
    overflow: hidden;
    transition: max-heigh 1s ease-in-out;
    /* transition: 0.4s; */

}

.more-navegacion li a {
    padding-left: 30px !important;
}

.activado {
    max-height: 400px;
    transition: max-height 1.5s ease-in-out;
}

.inactivo{
    max-height: 0px;
    transition: max-height 1s ease-in-out;
}

.one-navegacion {
    margin-left: 0px;
    border-left: solid 1px var(--color-texto-primary);
    max-height: 35px;
    overflow: hidden;
}



/* Reduce la altura de las filas */
#listStaff tbody tr {
    height: 15px !important; /* Ajusta el valor según tus necesidades */
}

#listStaff tbody td {
    height: 15px !important; /* Ajusta el valor según tus necesidades */
    padding-top: 2px;
    padding-bottom: 2px;
    
}

p {
    font-family: "Mystery Quest", cursive;
    font-size: 150%;
}



.close-session{
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 15px;
    
}

.off-session{
    color: red;
    font-size: 30px;
    cursor: pointer;
}