
@media (min-width: 768px) {
    .contenido{
        width: 100%;
        margin-right: 2px;
        margin-left: 6px;
        padding: 5px;
        height: 100vh;
        border-radius: 5px;
        background-color: #f8f9fa;
        box-shadow: 0 0 8px #007bff;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }

    .contenido::-webkit-scrollbar {
        width: 8px; /* Ancho de la barra de desplazamiento */
    }

    .contenido::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del botón de desplazamiento */
        border-radius: 1px; /* Bordes redondeados del botón de desplazamiento */
    }

    .contenido::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
    }

    .contenido::-webkit-scrollbar-thumb:hover {
        background-color: #007bff;
        width: 10px;
    }
}

@media (max-width: 768px) {
    .contenido{
        width: 99.9%;
        margin-top: 2px;
        height: 100vh;
        border-radius: 5px;
        border: solid 1px #007bff;
        background-color: #f8f9fa;
        box-shadow: 0 0 8px #007bff;
        overflow: auto;
    }

    .contenido::-webkit-scrollbar {
        width: 2px; /* Ancho de la barra de desplazamiento */
    }

    .contenido::-webkit-scrollbar-thumb {
        background-color: #888; /* Color del botón de desplazamiento */
        border-radius: 2px; /* Bordes redondeados del botón de desplazamiento */
    }

    .contenido::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
    }

    .contenido::-webkit-scrollbar-thumb:hover {
        background-color: #007bff; /* Cambio de color al pasar el mouse sobre el botón de desplazamiento */
    }
}


.start{
    position: relative;
}

.img-start{
    width: 100%;
    height: auto;
    border-color: #007bff;
    border-style: double;
}

.img-name-start{
    position: absolute;
    left: 10px;
    bottom: -18%;
    width: 35%;
    height: auto;
}

.img-profile{
    width: 100%;
    height: 30vh;
    border-style: double;
    filter: blur(5px);
}

.img-user-profile{
    position: absolute;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: solid 5px #fff;
    border-radius: 50%;
}

.img-profile-foto{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.student{
    font-size: 1.4rem;
    font-family: fantasy;
}

.user{
    font-size: 1.2rem;
    font-family: serif;
}

.info-basic{
    font-size: 1.5rem;
    font-family: serif;
}

.data-info{
    font-size: 1.1rem;
    font-family: "Homer Simpson UI";
    font-weight: bold;
}

.input-profile{
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    border: hidden;
    font-family: "Homer Simpson UI";
    padding-left: 10PX;
    background-color: #f8f9fa !important;
}

.input-profile:focus{
    border-bottom: 2px solid #007bff;
/*    border: 2px solid #007bff;*/
    outline: none; 
    box-shadow: 2px 2px 4px #007bff;
    border-radius: 5px;
}





/*courses*/

.cuadro-curso{
    position: relative;
    width: 100%;
    height: 200px;
    border: solid 2px #888;
    box-shadow: 0 0 8px #4e4e50;
    border-radius: 10px;
    margin: 6px;
    padding: 0px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    transform: scale(1);
}


.cuadro-curso:hover {
    transform: scale(1.1);
}

.nombre-curso{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    padding: 3px;
    background-color: #f8f9fa ;
}


/*CALENDARIO*/

#calendario {
    max-width: 100%;
    margin: 20px auto;
}

#calendario table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#calendario th, #calendario td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#calendario th {
    background-color: #f2f2f2;
}

#calendario td {
    cursor: pointer;
}

#calendario td:hover {
    background-color: #e6e6e6;
}


#calendario td.celeste {
    background-color: #87CEEB; /* Color celeste */
}

#calendario td.sabado {
    background-color: #FF0000; /* Rojo */
    color: #FFFFFF; /* Texto en blanco para que sea legible */
}


.tabular-list-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
}

.tabular-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin-top: 5px;
}

.element-card {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Primera columna ocupa 1 fracción, segunda columna ocupa 3 fracciones */
    gap: 1px; /* Espacio entre columnas */
    padding: 0px; /* Espaciado interior del contenedor */
}

.conte{
 font-size: 30px;
}