
@media (min-width: 768px) {
    .contenido{
        width: 100%;
        margin: 2px;
        margin-left: 6px;
        padding: 5px;
        height: 100vh;
        border-radius: 5px;
        /* border: solid 1px #007bff; */
        background-color: #f8f9fa;
        box-shadow: 0 0 8px #007bff;
    }
}

@media (max-width: 768px) {
    .contenido{
        width: 99.9%;
        margin-top: 2px;
        height: 100vh;
        border-radius: 5px;
        border: solid 1px #007bff;
        background-color: #f8f9fa;
        box-shadow: 0 0 8px #007bff;
    }
}